---
import { themeConfig } from "@/config";
import ImageWidget from '@/components/widget/image_widget.astro'

const banner = themeConfig.default.banner;
---
<div class="banner-container">
    <ImageWidget src={banner} alt="Banner Logo" />
</div>

<style>
    .banner-container {
        position: fixed;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        object-fit: cover;
    }
</style>